<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.b07projectgroup4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B07ProjectGroup4">
        <activity
            android:name=".PatientDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".DoctorScreenActivity"
            android:exported="true" />
        <activity
            android:name=".DoctorSignupActivity"
            android:exported="true" />
        <activity
            android:name=".DoctorLoginActivity"
            android:exported="true" />
        <activity
            android:name=".PatientSignupActivity"
            android:exported="true" />
        <activity
            android:name=".ConfirmAppointmentActivity"
            android:exported="true" />
        <activity
            android:name=".DoctorsAvailActivity"
            android:exported="true" />
        <activity
            android:name=".ListDoctorsActivity"
            android:exported="true" />
        <activity
            android:name=".PatientScreenActivity"
            android:exported="true" />
        <activity
            android:name=".PatientLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>